<div class="scrollable">
	<div class="scrollable-content">
		<div class="list-group text-center">
			<!-- cục giới thiệu -->
			<div class="list-group-item list-group-item-home">
				<h1>Socket Client Webapp <small>1.0</small>
				</h1>
			</div>
			<!-- Status FAN-->
		
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">TRẠNG THÁI QUẠT TRẦN</h3>
					<div ng-repeat="fan_value in fan_status  track by $index">
						Tốc Độ Số {{$index+1}} : {{fan_value ? "ON" : "OFF"}}
					</div>
				</div>
				<button ng-click="onFanClick()" type ="button" class="button">ON</button>
				<button ng-click="offFanClick()" type ="button" class="button">OFF</button>
			</div>
	    <!-- -->
		<!-- Status LED-->
		
			<div class="list-group-item list-group-item-home">
				<div>
					<i class="fa fa-tachometer feature-icon  text-primary"></i>
				</div>
				<div>
					<h3 class="home-heading">TRẠNG THÁI ĐÈN</h3>
					<div ng-repeat="led_value in led_status  track by $index">
						Đèn số 100 đang: {{led_value ? "ON" : "OFF"}}
						<button ng-click="ledClick()" type="button">ON/OFF</button>
					</div>
				</div>
			
			</div>
	    <!-- -->
		<!-- --> 
		<div class="list-group-item list-group-item-home">
			<div>
				<i class="fa fa-tachometer feature-icon  text-primary"></i>
			</div>
			<div>
				<h3 class="home-heading">Tổng lượng điện tiêu thụ</h3>
				<div >MW----KW-----W----A</div>
				<h3>{{voltage_value.MWrms}}----{{voltage_value.KWrms}}----{{voltage_value.Wrms}}----{{voltage_value.AmpsRMS}}</h3>
				<div>
					Atomat Tổng đang: {{aptomat_value.status ? "ON" : "OFF"}}
					<button ng-click="atomatClick()" type="button">ON/OFF</button>
				</div>
			</div>
		</div>
		
		<!-- --> 
		<div class="list-group-item list-group-item-home">
			<div>
				<i class="fa fa-tachometer feature-icon  text-primary"></i>
			</div>
			<h3>
				Nhiệt độ bếp: {{value.temp}} 
			</h3>
			<h3>
				Độ ẩm bếp: {{value.humi}}
			</h3>
			<h3>
				Khí CO bếp: {{value.co}}
			</h3>
			
		</div>
			
		</div>
	</div>
</div>